/* SmartHole Chat Sidebar Styles */

.smarthole-chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  color: var(--text-normal);
}
